body {
    background: #fff;
}

section {
    background-color: lemonchiffon;
}
article{
    margin: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
}
#originalOdyssey{
    background-color:rgba(255,255,255, 0.1); 
}
#madOdyssey{
    background-color:rgba(255,255,255, 0.1); 
}
#offOdyssey{
    background-color:rgba(255,255,255, 0.1); 
}
article {
    background-color: lemonchiffon;
}
.text{
    background-image: url(../images/odyssey.jpg);
    background-size: cover;
}
p {
    margin-top: 1.3em;
}

